.modal {
  background-color: white;
  height: 90vh;
  width: 60vw;
  margin: auto;
  margin-top: 2vh;
  padding: 20px;
  overflow-y: scroll;
}

.modal {
  background-color: gb(15 14 14 / 75%) !important;
}

.modalCloseBtn {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.headingCreateEvent {
  text-align: center;
  z-index: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submitBtn {
  background-color: #1fab89;
  color: white;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.categorySelect {
  margin-top: 5px;
  margin-bottom: 10px;
}
