.modal {
  background-color: white;
  height: 90vh;
  width: 60vw;
  margin: auto;
  margin-top: 2vh;
  padding: 20px;
  overflow-y: scroll;
}

.modal {
  background-color: gb(15 14 14 / 75%) !important;
}

.modalCloseBtn {
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  border: none;
  letter-spacing: 0.8px;
}

.modalCloseBtn:hover{
  background-color: #1fab89;
  color : white;
  border: none;
  letter-spacing: 0.8px;
}

.steps{
  margin-top: 20px;
}

.nextButtonCover{
  display: flex;
  justify-content:end;
  align-items: center;
}

.prevNextButtonsCover{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevButton{
  border-radius: 4px;
  padding: 7px 20px;
  border: none;
  letter-spacing: 0.8px;
  border: none
}

.nextButton {
  border-radius: 4px;
  padding: 7px 20px;
  border: none;
  letter-spacing: 0.8px;
  border: none;
}

.prevButton:hover{
  border-radius: 4px;
  border: none;
  letter-spacing: 0.8px;
  border: none;
  background-color: #1fab89;
  color : white;
  cursor: pointer;
}

.nextButton:hover {
  border-radius: 4px;
  border: none;
  letter-spacing: 0.8px;
  border: none;
  background-color: #1fab89;
  color : white;
  cursor: pointer;
}

.headingCreateEvent {
  text-align: center;
  z-index: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submitBtn {
  background-color: #1fab89;
  color: white;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.categorySelect {
  margin-top: 5px;
  margin-bottom: 10px;
}

.eventImg {
  height: 250px;
  width: auto;
  border: 2px solid #1fab89;
  padding: 10px 20px;
  margin: 10px 0 20px 0;
}
