.likeBoxWrapper {
    padding: 10px;
    width: 50vw;
    display: flex;
    justify-content: center;
  }
  
  .LikeBox {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
    border-right: gray 5px;
  }
  
  .LikeBox ul {
    border: 2px black;
    display: flex;
    gap: 40px;
    padding-right: 2rem;
    margin-bottom: 0;
  }
  
  .LikeBox ul li {
    list-style: none;
    cursor: pointer;
  }
  
  .LikeBox ul li svg {
    width: 25px;
    height: 25px;
  }
  
  .commentBtnWrapper {
    margin-left: auto;
  }
  
  .textareaWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 16px;
    /* margin-left: 10px; */
    box-sizing: border-box;
  }
  .textareaWrapper textarea {
    border: none;
    outline: none;
  }
  
  .commentBtn {
    padding: 10px 20px;
    background-color: rgb(26, 26, 239);
    color: white;
    border-radius: 30px;
    border: none;
  }
  
  .UserInfo {
    display: flex;
    gap: 10px;
  }
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .userPic {
    color: yellow;
    background-color: indianred;
    border-radius: 50%;
    padding: 22px;
  }
  
  .commentPara {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .commentReacts {
    display: flex;
    gap: 15px;
    cursor: pointer;
  }
  .commentReacts p {
    margin: 0;
  }
  
  .LikesOnComments {
    display: flex;
    gap: 5px;
    justify-content: center;
    /* font-size: 20px; */
  }
  .LikeIcon {
    width: 25px;
    height: 25px;
  }
  .replyButton {
    border: none;
    margin-bottom: 10px;
  }
  
  .replyDropdown {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .replyDropdown.active {
    display: block;
  }

  .btnContainer{
    display: flex;
    margin-left: auto;
    gap: 5px;
   
  }
  .cancelButton{
    border: none;
    border-radius: 20px;


  }
  .submitButton {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    width: 100%;
  }
  .dropdown input {
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 2px solid black;
  }
  
  .dropdown button {
    margin-left: auto;
    padding: 5px 10px;
  }
  
  .commentReplies {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
  
  }
  
  .repliesContainer{
    display: flex;
    flex-direction: column;
  }
  .totalComments{
    color: blue;
  }
  
  .MultiComments{
    display: flex;
    margin-left: 10px;
  }
  