.mainFormWrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formBox {
  padding: 40px 40px;
  display: flex;
  justify-self: center;
  width: 350px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(159, 176, 171, 0.084);
  border-radius: 10px;
}

.PassResetHeading {
  margin-bottom: 10px;
  margin-top: 10px;
}

.enterNewPassPara {
  margin-bottom: 40px;
}

.formBox form {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formBox form div {
  display: flex;
  flex-direction: column;
}

.formBox form input {
  background-color: transparent;
}

.btnCover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn {
  width: 40%;
  padding: 10px 20px;
  background-color: #1fab89;
  border: none;
  border-radius: 4px;
  color: white;
  letter-spacing: 1px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 10px;
}
