.step {
    color : black;
    width: 20px;
    height : 20px;
    font-size : 12px;
    background-color: white;
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed {
    background-color: indigo;
    color : white
}