.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleApplyEventbtnCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.titleApplyEventbtnCover button {
  padding: 7px 10px;
  border-radius: 4px;
  letter-spacing: 0.8px;
  border: none;
}

.titleApplyEventbtnCover button:hover {
  background-color: #1fab89;
  color: white;
  cursor: pointer;
}

.eventHeading {
  padding: 20px 0 20px 100px;
}

.organiserPhoto {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.organiserPhoto img {
  height: 100%;
  width: 100%;
}

.organiserDetails {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.organiserHeading_Photo {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.organiserHeading_Photo h3 {
  margin-bottom: 4px;
}

.boxBtwHeading_Details {
  height: 25px;
  background-color: #f6f7f8;
}

.eventDetails {
  padding: 40px 100px 0 100px;
}

.eventAddressTimeBox {
  position: sticky;
  height: 300px;
  width: 30vw;
  border-radius: 10px;
  background-color: #f6f7f8;
  right: 0px;
  float: right;
}

.eventImage {
  height: 400px;
  width: 50vw;
  border-radius: 6px;
  overflow: hidden;
}

.eventImage img {
  height: 100%;
  width: 100%;
}

.eventDetailsParaBox {
  margin-top: 40px;
  width: 50vw;
  text-align: justify;
}

.eventDetailsPara {
  margin-top: 10px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

.attendiesBox {
  width: 50vw;
  margin-bottom: 30px;
}
.attendiesBox h2 {
  margin-bottom: 20px;
}

.attendiesCard {
  height: 200px;
  border-radius: 6px;
  background-color: rgba(243, 240, 236, 0.708);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.attendiesImgBox {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}

.attendiesImgBox img {
  height: 100%;
  width: 100%;
}

.eventDateTime {
  margin: 10px 0 10px 10px;
  display: flex;
}

.timelogo {
  margin-right: 10px;
}

.timelogo svg {
  height: 20px;
  width: 20px;
}

.eventAddress {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.addressLogo svg {
  height: 30px;
  width: 30px;
  margin-right: 6px;
}
.likeBoxWrapper {
  padding: 10px;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.LikeBox {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  display: inline-block;
}

.LikeBox ul {
  border: 2px black;
  display: flex;
  gap: 40px;
  padding-right: 2rem;
  margin-bottom: 0;
}

.LikeBox ul li {
  list-style: none;
  cursor: pointer;
}

.LikeBox ul li svg {
 width: 25px;
 height: 25px;
}


.commentBox {
  width: 50vw;
}

.hrLine {
  color: black;
}

.commentHead {
  font-weight: bold;
  margin-bottom: 10px;
}

.NumOfComments {
  font-weight: 500;
}
.outerBox {
  display: flex;
}

.UserImg {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  overflow: hidden;
  float: left;
  background-color: aqua;
}

.textareaWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 36px;
  border-radius: 16px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 2px solid #dbdfe4;
}
.textareaWrapper textarea {
  border: none;
  outline: none;
}

.commentBtn {
  padding: 10px 20px;
  background-color: rgb(26, 26, 239);
  color: white;
  border-radius: 30px;
  border: none;
  
}

/* LiaComment */

