.card {
  background-color: rgba(238, 237, 237, 0.388);
  border-radius: 4px;
  position: relative;
  margin : 10px 5px 20px 5px;
  position: relative;
}

.placePhoto {
  border-radius: 4px;
  height: 150px;
  width: 100%;
  background-color: rgb(50, 116, 94);
}

.placePhoto img {
  border-radius: 4px 4px 0 0;
  height: 150px;
  width: 100%;
}

.organiserPhoto {
  border-radius: 50%;
  margin: -40px auto 0 auto;
  border: 3px solid white;
  height: 90px;
  width: 90px;
  overflow: hidden;
}

.organiserPhoto img {
  height: 90px;
  width: 90px;
}

.EventInfo {
  padding: 0 20px 10px 20px;
}

.OrganiserName {
  margin-top: 5px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.EventDesc {
  margin-top: 10px;
  text-align: justify;
}

.showMoreBtn {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: none;
  cursor: pointer;
  border-radius: 25px;
  width: 140px;
  height: 50px;
  background: #1fab89;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 15px;
}

.title {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 25px;
}

.threeDots {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin : 5px 10px 0 0;
  cursor: pointer;
}

.deleteEventButton{
  position: absolute;
  height: 50px;
  width : 100px;
  background-color: grey;
  right: 25px;
  top: 5px;
  z-index : 1;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color : white;
  font-size: 20px;
  letter-spacing: 1px;
}

.deleteEventButton:hover{
  color : rgb(215, 12, 12);
}

/* .list {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin : 5px 25px 0 0;
} */

.meetDate {
  color: rgb(150, 101, 28);
  margin : 3px 0 0 1.5px;
  letter-spacing: 1px;
}

.shareButton {
  position: absolute;
  box-shadow: -2px -3px 5px #FFF1FF, 5px 5px 27px rgba(0, 0, 0, 0.2), inset 6px -1px 25px rgba(113, 113, 113, 0.15), inset -6px -4px 17px rgba(255, 255, 255, 0.25);
  background-color: #518958; 
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Adjust the padding as needed */
  color: #000000;
  left: 10px;
  top: 10px;
  
}
.whatsappButton {
  position: absolute;
  box-shadow: -2px -3px 5px #FFF1FF, 5px 5px 27px rgba(0, 0, 0, 0.2), inset 6px -1px 25px rgba(113, 113, 113, 0.15), inset -6px -4px 17px rgba(255, 255, 255, 0.25);
  background-color: #518958; 
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Adjust the padding as needed */
  color: #000000;
  left: 57px;
  top: 10px;
}

.twitterButton {
  position: absolute;
  box-shadow: -2px -3px 5px #FFF1FF, 5px 5px 27px rgba(0, 0, 0, 0.2), inset 6px -1px 25px rgba(113, 113, 113, 0.15), inset -6px -4px 17px rgba(255, 255, 255, 0.25);
  background-color: #518958; 
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Adjust the padding as needed */
  color: #000000;
  left: 104px;
  top: 10px;
}

.pinterestButton {
  position: absolute;
  box-shadow: -2px -3px 5px #FFF1FF, 5px 5px 27px rgba(0, 0, 0, 0.2), inset 6px -1px 25px rgba(113, 113, 113, 0.15), inset -6px -4px 17px rgba(255, 255, 255, 0.25);
  background-color: #518958; 
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Adjust the padding as needed */
  color: #000000;
  left: 151px;
  top: 10px;
}

.bookmarkButton {
  position: absolute;
  box-shadow: -2px -3px 5px #FFF1FF, 5px 5px 27px rgba(0, 0, 0, 0.2), inset 6px -1px 25px rgba(113, 113, 113, 0.15), inset -6px -4px 17px rgba(255, 255, 255, 0.25);
  background-color: #518958; 
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%; /* Make the button circular */
  padding: 8px; /* Adjust the padding as needed */
  color: #000000;
  right: 10px;
  top: 10px;
}